---
layout: default
---


<section>
				
	<div>
						
		<h1>Inês Tavares</h1>
		<p>A UX/UI designer focused on creating engaging digital experiences through human-centered design.</p>
						
	</div>

	<div>
							
		<img src="assets/img_2740.png" alt="my photo">
						
	</div>

	<div>

		<p>I'm a visual person, a creative and critical thinker with multidisciplinary experience in user interface design, design thinking methodologies, branding and illustration. I’m keen on end-to-end projects that help transform complex business processes, services, experiences and cultures into reachable, user-friendly solutions. </p>

	</div>


</section>

<section id="resume" class="resume">

	<div class="container">

		<div>

			<h2>resume.</h2>
						
		</div>

		<div class="resume-flexible">

			{% include workexperience.html %}
			{% include education.html %}
			{% include skills.html %}
			{% include designtools.html %}

		</div>

	</div>

</section>