<section class="theme-flexible">

	<div class="theme-title">

		<h3>education</h2>

	</div>

	<div class="theme-content">

		<dl>

			<dt>Faculdade Belas-Artes - Lisbon</dt>
			<dd>digital experience design</dd>
			<dd>postgraduation degree</dd>
			<dd>september 2019 - present</dd>
			<dt>Faculdade de Arquitetura - Lisbon</dt>
			<dd>communication design</dd>
			<dd>masters degree</dd>
			<dd>september 2012 - December 2014</dd>
			<dt>Faculdade de Arquitetura - Lisbon</dt>
			<dd>design</dd>
			<dd>licenciate degree</dd>
			<dd>september 2009 - july 2012</dd>

		</dl>

		</div>

</section>