<header class="site-header">

  <div class="wrapper">

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    <div class="menu">

      <div class="signature-container">

        <a href="{{site.baseurl}}/{{ navigation.url }}"><img src="assets/signature.svg" alt="ines's tavares signature image" class="signature"></a>

      </div>

      {%- if page_paths -%}

      <nav>

        <div class="trigger">
      
          <ul>

          {% for item in site.data.samplelist.docs %}

            <li><a class="page-link" href="{{site.baseurl}}/{{ item.url }}">{{ item.title }}</a></li>

          {% endfor %}
         
          </ul>
        
        </div>
      
      </nav>

    </div>
    
    {%- endif -%}
  
  </div>

</header>

