<section class="theme-flexible">

	<div class="theme-title">

		<h3>work experience</h2>

	</div>

	<div class="theme-content">

		<dl>
									
			<dt>ux designer</dt>
			<dd>Truewind</dd>
			<dd>january 2019-present</dd>
			<dt>graphic designer</dt>
			<dd>youngnetwork group</dd>
			<dd>february 2018 - january 2019</dd>
			<dt>graphic designer</dt>
			<dd>white way - brand services</dd>
			<dd>october 2017 - january 2018</dd>
			<dt>graphic designer</dt>
			<dd>freelance</dd>
			<dd>may 2015 - september 2017</dd>

		</dl>

	</div>

</section>