/* projects */

.project-list {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;

	h2 {
		color: $dark-green;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 24px;
	}


	p {
		color: $dark-green;
		margin-top: 12px;
	}

	ul{
		padding:0; 
	}

	a { color: $lighter-green;
		@include links; 
	}
}

.project-list-item {
	padding-top: 48px;
	padding-bottom: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-list-item-2 {
	align-items: center;
}


.project-pic {
	
	img {
		width: 100%;
		height: auto;
		border-radius: 8px;
	}
}


/* cards */

.cards-project{
	padding-bottom: 48px;
	h2 {
		color: $dark-green;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 24px;
	}

	p {
		color: $dark-green;
		margin: 0px;
		font-size: 13px;
	}

	a { color: $lighter-green;
		@include links; 
	}
}


.project-cards-grid {
	display: block;
	padding-left: 0;
	margin-bottom: 0;
}

.flip-card {
	width: 100% ;
	margin: 0 0 32px 0;
	max-width: 100%;

	img {
	width:100%;
	border-radius: 8px;
	object-fit: cover;
	}
}



/* --------------------------------------------------------------------- */
/* -------------- this applies from 600px to 960px ---------------------*/

@media screen and (min-width: 600px) {


	.project-list {
		display: flex;
		flex-direction: column;

		h2 {
		margin-top: 0;
		}

		h3 {
		margin-top: 0;
		}
	}

	.project-list-item {
		display: flex;
		flex-direction: row;
	}

	.project-list-item-2 {
		display: flex;
		flex-direction: row-reverse;

		 .project-pic{
		 	padding-left: 40px;
			padding-right: 0px;
		 }
	}

	.project-text {
		width: 50%;
	}


	.project-pic {
		padding-right: 40px;
		width: 50%;

		img {
			width: 100%;
			height: auto;
			border-radius: 8px;
		}
	}

/* cards */

.project-cards-grid {
	display: flex;
	justify-content: space-between;
}

.flip-card {
	width: 32%;

	img {
		width:100%;
	}
}

}