/* this applies from 0 px to 600px */

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: $title-font;
	color: $light-grey;
	font-weight: normal;
	font-size: 32px;
}

h2 {
	font-family: $body-font; 
	color: $light-grey;
	font-weight: bold;
	font-size: 22px;
}

p { 
	font-family: $body-font; 
	color: $light-grey;
	font-size: 16px;
	line-height: 22px;
}


ul {
	list-style-type: none;
}

.wrapper {
	padding: 0 30px;
}

.bg-contactwork {
	background-color: $light-grey;
}

.contactwork-intro {

	padding-top:140px;
	
	h1	{
		margin:0;
		color: $dark-green;
		font-weight: bold;
		margin: 0;
		padding-bottom: 16px;
	}

	p {
		color: $dark-green;
		font-size: 18px;
		margin:0;
	}
}




/* --------------------------------------------------------------------- */
/* -------------- this applies from 600px to 960px ---------------------*/

@media screen and (min-width: 600px) {
		
	.wrapper {
		padding: 0 60px;
	}

}


/* --------------------------------------------------------------------- */
/* ------------------ this applies from 960px onwards ------------------*/


@media screen and (min-width: 960px) {

	.wrapper {
		padding: 0 60px;
		max-width: 1032px;
		margin: 0 auto;
	}
}

