$white: #F9F7E8;
$light-grey: #ECEFF2;
$linen: #F2E7DE;
$blush-pink: #F6B5B3;
$dark-pink: #EE716D;
$black-green: #054343;
$dark-green: #00494F;
$lighter-green: #30787A;
$body-font: "Source Sans Pro", Arial, sans-serif;
$title-font: "Noto Serif JP", Georgia, serif;
