---
layout: default
---

<div class="bg-contactwork">

	<div class="wrapper">

		<section class="contactwork-intro">
				
				<h1>{{ page.title }}</h1>


				{% if page.title == "Case studies" %}
			 		 
			 		  <p> here's some of my best work. </p>
				
				{% endif %}

				
				{% if page.title == "Get in touch" %}
			 		
			 		<p>I'd love to hear from you!</p>
					<p> Drop me a line via e-mail or get in touch via behance or linkedin.</p>
				
				{% endif %}

		</section>
				
				
			{{ content }}

	</div>

</div>


