---
layout: default
---

<section class="hero">
        
    <div class="hero-container">
              
      <h1>human,<br>first.<br>creative<br>thinker,<br>next.</h1>
      <p>I'm Inês, glad to meet you.</p>
            
    </div>

    <div class="hero-pic">
              
        <img src="assets/protecttheforests.svg" alt="Protect the enviroment illustration">
            
    </div>

</section>

<section class="featured-work">

	<div class="featured-title">

		<h2>featured work.</h2>

	<div>

	<div class="featured-flexible">

		{% include gardenpot.html %}
		{% include doublehelix.html %}
		{% include lupastudio.html %}

	</div>

</section>