---
layout: default
---

  <section class="hero">

    <div class="wrapper">

      <div class="hero-flexible">
      
     		 	<div class="hero-text">
                
       		 	<h1>human,<br>first.<br><span>creative<br>thinker,<br>next.</span></h1>
        		<p>I'm Inês, glad to meet you.</p>
              
      		</div>

      		<div class="hero-pic">
         	       
         		 	<img src="assets/protecttheforests.svg" alt="Protect the enviroment illustration">
              
      		</div>

     	</div>

    </div>

  </section>
